footer
    .container
        .footer-row
            .logo-foot
                img(src='assets/img/logo.png')
            nav.navigation-footer
                ul.navigation-foot
                    li.navigation-foot__link
                        a(href="#")  О нас
                    li.navigation-foot__link
                        a(href="#")  Услуги
                    li.navigation-foot__link
                        a(href="#")  Тарифы
                    li.navigation-foot__link
                        a(href="#")  Калькулятор
                    li.navigation-foot__link
                        a(href="#")  Контакты
                .contacts
                    .contacts-tell
                        a(href="8 (495) 721-05-04")  Телефон: 8 (495) 721-05-04
                    .contacts-mail
                        a(href='mailto:mail@parketmasters.com')  E-mail: mail@parketmasters.com
            .messenger-footer
                .social__footer
                    img(src='assets/img/YouTube.png')
                .social__footer
                    img(src='assets/img/whatsapp.png')
                .social__footer
                    img(src='assets/img/telegram.png')

        .info-log
            .info
                div(class='  flex flex-col sm:flex-row')
                    p(class="year") © 2014 - 2023
                    p Паркет Мастера - циклевка паркета в Москве.

            .firm-logo
                img(src='assets/img/BB.png')