.footer-row {
  display: grid;
  align-items: center;
}

.logo-foot {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 17px 0px;
}

.navigation-footer {
  display: block;
}

.navigation-foot {
  display: flex;
  flex-wrap: wrap;
  //grid-template-columns: repeat(auto-fit,minmax(55px,1fr));
  //gap: 18px 41px;
  padding: 20px 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-transform: none;
}

.navigation-foot__link {
  margin-right: 41px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.contacts-tell {
  padding-bottom: 5px;
}

.messenger-footer {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
}

.social__footer {
  display: flex;
  align-content: flex-start;
  margin: 0 15px;
}

.social__footer:first-child {
  margin-left: 0;
}

.info-log {
  display: flex;
  flex-wrap: wrap;
}

.info {
  padding-bottom: 12px;
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}

.firm-logo {

}

@media screen and (min-width: 480px) {
  .logo-foot {
    justify-content: left;
  }

  .navigation-foot {

  }

  .contacts {
    font-size: 18px;
    line-height: 22px;
  }

  .info {
    font-size: 14px;
  }

  .year {
    margin-right: 5px;
  }
}

@media screen and (min-width: 720px) {
  .footer-row {
    grid-template-columns: 1fr;
  }

  .navigation-foot {
    grid-template-columns:
      minmax(43px, max-content)
      minmax(53px, min-content)
      minmax(61px, min-content)
      repeat(auto-fill, 125px) 20%;
    padding: 30px 0px;
  }

  .contacts-tell {
    margin-right: 51px;
  }

  .messenger-footer {
    margin-top: 46px;
    margin-bottom: 74px;
  }

  .info-log {

  }

  .info {
    margin-right: 142px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-row {
    grid-template-columns: repeat(auto-fit,minmax(55px,1fr));
  }
}